certifi
urllib3[secure]
requests[security]
backports.ssl-match-hostname
backports-abc
gmusicapi
pykka
pylast
pafy
youtube-dl
tornado
mopidy
mopidy-local-sqlite
mopidy-podcast
mopidy-scrobbler 
mopidy-somafm
mopidy-spotify
mopidy-youtube
Mopidy-MusicBox-Webclient
Mopidy-WebSettings
#mopidy-mopify==1.6.1
mopidy-mobile
mopidy-youtube
mopidy-gmusic
#mopidy-spotify-web==0.3.0
#mopidy-spotify-tunigo==1.0.0
#https://github.com/pimusicbox/mopidy-spotify/zipball/backport-oauth
mopidy-tunein
#mopidy-scrobbler==1.2.0
mopidy-soundcloud
mopidy-dirble
#mopidy-podcast==2.0.2
mopidy-podcast-itunes
mopidy-internetarchive
mopidy-tidal
Mopidy-Moped
#mopidy-somafm
Mopidy-Iris
